<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="default-container">
      <p class="default-title"><%= title %></p>
      <button class="login-btn"><a href="/login">Login</a></button>
      <br />
      <button class="register-btn"><a href="/register">Register</a></button>
    </div>
  </body>
</html>
