<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="login-container">
      <p class="login-title"><%= title %></p>
      <form class="form login-form">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email here"
          required
        />
        <br />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password here"
          required
        />
        <br /><br />
        <button type="submit">Login</button>
      </form>
    </div>
    <script type="text/javascript" src="../js/login.js"></script>
  </body>
</html>
